<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Nazwa produktu to:</h1>

<p th:text="${product.getName()}"/>

<h3>Opis produktu to:</h3>

<p th:text="${product.getDescription()}"/>


</body>
</html>